<!DOCTYPE html>
<html>
<head>
  <title> Home </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  

  
</head>
  <body background="https://student-database.khraina.repl.co/static/bg.jpg"">
    <div id="container">
        <div style="Text-align:left">    
        <button>home</button>
        <button>About us</button>
        </div>

    <h2>Student Result Database</h2> 
    <h3> Login as</h3>
   
    <div style="Text-align:center; Text-size:50px">    
    <button><a href="{{ url_for('login') }}">Student</a> </button>
    <button><a href="{{ url_for('login') }}">Teacher</a>
    </button> 
      <p class="bodytext"> 
        View and update results with ease
      </p>
      <p> Copyright 2023,RASB</p>
    </div>
    </div>
   </body>
</html>