<!DOCTYPE html>
<html>
<head>
  <title> Home </title>
<style>
h2{
  font-size: 50px;
  font-family: 'Helvetica';
  font-weight: Bolder;
  color : rgb(0,128,128);
  text-align :center
  
}

  h3{
  font-size: 30px;
   font-weight: Bold;
   color : rgb(47,79,79);
   font-family: "Helvetica";
    text-align :center
  
  
}
#container{
  max-width:520px
  margin: 0 auto 0 auto;
}  

  .bodytext{
     font-size: 20px;
   font-weight: normal;
   color : rgb(47,79,79);
   font-family: "times-new-roman"
    
  }

</style>


  
</head>
  <body background="https://student-database.khraina.repl.co/static/bg.jpg"">
    <div id="container">
        <div style="Text-align:left">    
        <button>home</button>
        <button>About us</button>
        </div>

    <h2>Student Result Database</h2> 
    <h3> Login as</h3>
   
    <div style="Text-align:center; Text-size:50px ">    
    <button>  Student</button>
    <button>
      Teacher
    </button> 
      <p class="bodytext"> 
        View and update results with ease
      </p>
      <p> Copyright 2023,RASB</p>
    </div>
    </div>
   </body>
</html>