<!DOCTYPE html>
<html>
<head>
  <title> Home </title>


  
</head>
  <body background="https://student-database.khraina.repl.co/static/bg.jpg"">
    <div id="container">
        <div style="Text-align:left">    
        <button>home</button>
        <button>About us</button>
        </div>

    <h2>Student Result Database</h2> 
    <h3> Login as</h3>
   
    <div style="Text-align:center; Text-size:50px">    
    <button>  Student</button>
    <button>
      Teacher
    </button> 
      <p class="bodytext"> 
        View and update results with ease
      </p>
      <p> Copyright 2023,RASB</p>
    </div>
    </div>
   </body>
</html>